@model ConfigurationModels.CountryCodeReplacement


@using (Ajax.BeginForm("EditAjax", "CountryCodeConfig", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "CountryCodeConfigDiv"})) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Default Country Code</legend>
    <div>
        @Html.LabelFor(model => model.CountryCode, "Country Code")
        @Html.EditorFor(model => model.CountryCode)
        @Html.ValidationMessageFor(model => model.CountryCode)
    </div>

    <div>
        @Html.LabelFor(model => model.LeadingNumberToReplace, "Leading Number To Replace")
        @Html.EditorFor(model => model.LeadingNumberToReplace)
        @Html.ValidationMessageFor(model => model.LeadingNumberToReplace)
    </div>

        <p>
            <input type="submit" value="Submit" />
        </p>
        <p>
            @Ajax.ActionLink("Cancel", "DetailsAjax", "CountryCodeConfig", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "CountryCodeConfigDiv" })
        </p>
    </fieldset>
}
