@model SmsWeb.Models.DefaultEmailModel

@using (Ajax.BeginForm("EditAjax", "DefaultEmail", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "DefaultEmailConfigDiv" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Default Email</legend>
        
        <div class="Details">
            <div>
                @Html.LabelFor(model => model.DefaultEmails)
            </div>
            <div>
                @Html.EditorFor(model => model.DefaultEmails)
                @Html.ValidationMessageFor(model => model.DefaultEmails)
            </div>
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
        <p>
            @Ajax.ActionLink("Cancel", "DetailsAjax", "DefaultEmail", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "DefaultEmailConfigDiv" })
        </p>
    </fieldset>
}