<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - SMS Coordinator</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
        <script type="text/javascript">
            $(document).ready(function() { 
                $('#searchBox').live("click, focus", function() {
                    if ($(this).val() == 'Search For A Message By Id')
                        $(this).val('');
                });

                $("#searchBox").live("blur", function() {
                    if ($(this).val() == "") {
                        $(this).val('Search For A Message By Id');
                    }
                });
            });
        </script>
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("SMS Coordinator", "Index", "Home")</p>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Coordinate", "Create", "Coordinator")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Coordinator History", "History", "Coordinator")</li>
                        </ul>
                    </nav>
                </div>
                <div class="float-right">
                    <section id="login">
                        @*                   @Html.Partial("_LoginPartial")*@
                        @Html.ActionLink("Configuration", "Configuration", "Home")
                    </section>
                    <section id="search">
                        @using(Html.BeginForm("Search", "Home"))
                        {
                            <input type="text" id="searchBox" name="id" value="Search For A Message By Id" />
                            <input type="submit" value="GO"/>
                        }
                    </section>
                </div>
            </div>
        </header>
        <div id="body">
            @*@RenderSection("featured", required: false)*@
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Sam Jeffress</p>
                </div>
            </div>
        </footer>
        

    </body>
</html>
