@model ConfigurationModels.MailgunConfiguration

<fieldset>
    <legend>MailgunConfiguration</legend>

    <div>
         @Html.DisplayNameFor(model => model.ApiKey)
    </div>
    <div>
        **************************
    </div><br />

    <div>
         @Html.DisplayNameFor(model => model.DomainName)
    </div>
    <div>
        @Html.DisplayFor(model => model.DomainName)
    </div><br />

    <div>
         @Html.DisplayNameFor(model => model.DefaultFrom)
    </div>
    <div>
        @Html.DisplayFor(model => model.DefaultFrom)
    </div>
</fieldset>