@model ConfigurationModels.SmsTechConfiguration

@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
@Scripts.Render("~/Scripts/jquery.1.8.3.min.js")


@using (Ajax.BeginForm("EditAjax", "SmsTechConfig", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "SmsTechConfigDiv" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>SmsTech</legend>

        <div>
            @Html.LabelFor(model => model.ApiKey, "API Key")
        </div>
        <div>
            @Html.PasswordFor(model => model.ApiKey)
            @Html.ValidationMessageFor(model => model.ApiKey)
        </div>

        <div>
            @Html.LabelFor(model => model.ApiSecret, "API Secret")
        </div>
        <div>
            @Html.PasswordFor(model => model.ApiSecret)
            @Html.ValidationMessageFor(model => model.ApiSecret)
        </div>

        <div>
            @Html.LabelFor(model => model.From)
        </div>
        <div>
            @Html.EditorFor(model => model.From)
            @Html.ValidationMessageFor(model => model.From)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
        <p>
            @Ajax.ActionLink("Cancel", "DetailsAjax", "SmsTechConfig", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "SmsTechConfigDiv" })
        </p>
    </fieldset>
}
