@model ConfigurationModels.TwilioConfiguration

<script src="~/Scripts/jquery-1.8.3.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

@using (Ajax.BeginForm("EditAjax", "TwilioConfig", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "TwilioConfigDiv" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TwilioConfiguration</legend>

        <div>
            @Html.LabelFor(model => model.AuthToken, "Auth Token")
        </div>
        <div>
            @Html.PasswordFor(model => model.AuthToken)
            @Html.ValidationMessageFor(model => model.AuthToken)
        </div>

        <div>
            @Html.LabelFor(model => model.AccountSid, "Account Sid")
        </div>
        <div>
            @Html.EditorFor(model => model.AccountSid)
            @Html.ValidationMessageFor(model => model.AccountSid)
        </div>

        <div>
            @Html.LabelFor(model => model.From)
        </div>
        <div>
            @Html.EditorFor(model => model.From)
            @Html.ValidationMessageFor(model => model.From)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
