@model SmsCoordinator.TwilioConfiguration

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
            @using (Html.BeginForm("create", "TwilioConfig"))
                {
                    <div>
                        @Html.ValidationMessageFor(m => m.AccountSid)
                        @Html.LabelFor(m => m.AccountSid)
                        @Html.EditorFor(m => m.AccountSid)
                    </div>

                    <div>
                        @Html.ValidationMessageFor(m => m.AuthToken)
                        @Html.LabelFor(m => m.AuthToken)
                        @Html.EditorFor(m => m.AuthToken)
                    </div>                         
                <div>
                    <input type="submit" name="submit" value="submit"/>
                </div>                   
            }
        </div>
    </body>
</html>