@model ConfigurationModels.TwilioConfiguration

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>TwilioConfiguration</legend>

    <div>
         @Html.DisplayNameFor(model => model.AuthToken)
        @Html.DisplayFor(model => model.AuthToken)
    </div>

    <div>
         @Html.DisplayNameFor(model => model.AccountSid)
        **************************
    </div>

    <div>
         @Html.DisplayNameFor(model => model.From)
        @Html.DisplayFor(model => model.From)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) 
</p>
