@model ConfigurationModels.TwilioConfiguration

@{
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}
<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
            <fieldset>
            <legend>Twilio Configuration</legend>
            @using (Html.BeginForm())
            {
                <div>
                    @Html.ValidationMessageFor(m => m.AccountSid)
                    @Html.LabelFor(m => m.AccountSid)
                    @Html.EditorFor(m => m.AccountSid)
                </div>

                <div>
                    @Html.ValidationMessageFor(m => m.AuthToken)
                    @Html.LabelFor(m => m.AuthToken)
                    @Html.EditorFor(m => m.AuthToken)
                </div>   

                <div>
                    @Html.ValidationMessageFor(m => m.From)
                    @Html.LabelFor(m => m.From)
                    @Html.EditorFor(m => m.From)
                </div>   
                <div>
                    <input type="submit" name="submit"/>
                </div>                   
            
            }
            </fieldset>
        </div>
    </body>
</html>