@model List<ConfigurationModels.CommunicationTemplate>

@{
    ViewBag.Title = "Communication Template - Details";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}

<h2>Communication Templates</h2>
<a href="@Url.Action("Create")">
    Add Template <i class="icon-plus-sign"></i>    
</a>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Template Name</th>
			<th>Email Template</th>
			<th>Sms Template</th>
			<th>Variable Count</th>
		</tr>
	</thead>
	<tbody>
	@foreach(var template in Model){
		<tr>
			<td>@template.TemplateName</td>
			<!-- shorter version -->
			<td>@template.EmailContent</td>
			<td>@template.SmsContent</td>
			<td>@(template.TemplateVariables == null ? 0 : template.TemplateVariables.Count())</td>
		</tr>
	}
	</tbody>
</table>

