@model SmsWeb.Models.SendNowModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";    
}

@Scripts.Render("~/bundles/jquery")
<script type="text/javascript" src="~/Scripts/MessageBuilder.js" ></script>
<script type="text/javascript">   
$(document).ready(function () {
    $('#MessageBody').bind('keyup', function () {
        CountMessageChar($('#MessageBody'));
    });
    CountMessageChar($('#MessageBody'));
});
</script>
<h2>Create a message to send now</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>SendNowModel</legend>

        <div>
            @Html.LabelFor(model => model.Number)
            @Html.EditorFor(model => model.Number)
            @Html.ValidationMessageFor(model => model.Number)
        </div>

        <div>
            @Html.LabelFor(model => model.MessageBody, "Message Body")
            @{var messageValidationClass = Model != null && Model.MessageBody.Length <= 160 ? "messageInputValid" : "messageInputInvalid";}
            @Html.TextAreaFor(model => model.MessageBody, new Dictionary<string, object> { { "class", @messageValidationClass } })
            @Html.ValidationMessageFor(model => model.MessageBody)
            <div id="messageCounter"></div>
        </div>

        <div>
            @Html.LabelFor(model => model.ConfirmationEmail, "Confirmation Email")
            @Html.EditorFor(model => model.ConfirmationEmail)
            @Html.ValidationMessageFor(model => model.ConfirmationEmail)
        </div>

        <div>
            @Html.LabelFor(model => model.Topic)
            @Html.EditorFor(model => model.Topic)
            @Html.ValidationMessageFor(model => model.Topic)
        </div>

        <div>
            @Html.Label("tag", "Tags")
            <input name="tag" id="tag" value="@ViewBag.tags"/>
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
