@model SmsWeb.Models.SendNowModel

@{
    ViewBag.Title = "Create";
}

<h2>Create a message to send now</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>SendNowModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Number)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Number)
            @Html.ValidationMessageFor(model => model.Number)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MessageBody)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.MessageBody)
            @Html.ValidationMessageFor(model => model.MessageBody)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmationEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConfirmationEmail)
            @Html.ValidationMessageFor(model => model.ConfirmationEmail)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
