@model SmsWeb.Models.SendNowModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>SendNowModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Number)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Number)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MessageBody)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MessageBody)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ConfirmationEmail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ConfirmationEmail)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
