<html>
<head>
    <title>Coordinator Created</title>
</head>
<body>
    <p>
        Coordinator messages @Model.Topic (@Model.CoordinatorId) created at @Model.CreationDateUtc (UTC)
    </p>
    <p>
        @Model.MessageCount messages will be sent between @Model.StartTimeUTC (UTC) and @Model.EndTimeUTC (UTC).
    <p>
        To update or change these details, please go to your Sms Coordinator website and view the coordinator history. You can then find the topic of your choice and pause / reschedule if necessary.
    </p>
    <p>
        Once the coordinator has completed you will get a message with a summary of the results.
    </p>
</body>
</html>