<html>
<head>
    <title>Coordinator Completed</title>
</head>
<body>
    <p>
        Coordinator messages TOPIC (@Model.CoordinatorId) completed at @Model.FinishTimeUserZone (@Model.UserTimeZone)
    </p>
    <p>
        Total cost of sending @Model.SuccessfulMessageCount - $@Model.TotalCost.
    </p>
    <p>
        @Model.SuccessfulMessageCount of @Model.MessageCount were successfully delivered. For details on any messages that didn't make it please see the history page of your coordinator.
    </p>
    <p>
        Thanks for using the Sms Coordinator!
    </p>
</body>
</html>