<html>
<head>
    <title>@Model.Topic Completed</title>
</head>
<body>
    <p>
        @Model.Topic (@Model.CoordinatorId) completed at @Model.FinishTimeUserZone (@Model.UserTimeZone).
    </p>
    <p>
        @{
            var messageOrMessages = Model.SuccessfulMessageCount > 1 ? "messages" : "message";
        }
        Total cost of sending @Model.SuccessfulMessageCount @messageOrMessages - $@Math.Abs(Model.TotalCost).
    </p>
@{
if (Model.MessageCount > 1)
{
    if (Model.SuccessfulMessageCount > 0){
        var wasOrWere = Model.UnsuccessfulMessageCount > 1 ? "were" : "was";
        <p>@Model.SuccessfulMessageCount of @Model.MessageCount @wasOrWere successfully delivered. </p>
    }
    if (Model.UnsuccessfulMessageCount > 0){
        var wasOrWere = Model.UnsuccessfulMessageCount > 1 ? "were" : "was";
        <p>@Model.UnsuccessfulMessageCount @wasOrWere not able to be delivered - for more details please see the history page of your coordinator.</p>
    }
}
else
{
    if (Model.SuccessfulMessageCount == 1)
    {
        <p>Message was successfully sent!</p>
    }
    else
    {
        <p>Message could not be delivered - for more details please see the history page</p>
    }
}}
    <p>
        Thanks for using <a href="http://tricklesms.com">Trickle Sms</a>.
    </p>
</body>
</html>