@using System.Globalization
@model string[]

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/themes/base/jquery-ui.css")


<!DOCTYPE html>

<html>
    <head>
        <title>Pick your columns</title>
    </head>
    <body>
        <div>
            @using(Html.BeginForm("CreateSmsAndEmailColumnPicker", "SmsAndEmail", FormMethod.Post)){
                <h3>Tell us which columns of your spreadsheet to use</h3>
                <table>
                    <tr>
                        @for (var i = 0; i < Model.Count(); i++)
                        {
                            <td>Column @{ var col = i + 1;} @col</td>
                        }
                    </tr>
                    <tr>
                        @foreach (var columnValue in Model)
                        {
                            <td>@columnValue</td>
                        }
                    </tr>
                    <tr>
                        @for(var i = 0; i < Model.Count(); i++)
                        {
                            <td>
                                <input type="radio" name="@("column_" +i)" value="" id="@("notused_" + i)" checked="checked"><label for="@("notused_" + i)">Not Used</label><br/>
                                <input type="radio" name="@("column_" +i)" value="number_@i" id="@("number_" + i)"/><label for="@("number_" + i)">Mobile Number</label><br/>
                                <input type="radio" name="@("column_" +i)" value="email_@i" id="@("email_" + i)"/><label for="@("email_" + i)">Email Address</label><br/>
                                <input type="radio" name="@("column_" +i)" value="name_@i" id="@("name_" + i)"/><label for="@("name_" + i)">Customer Name</label><br/>
                                @*@Html.DropDownList(i.ToString(), new List<SelectListItem>
                                {
                                    new SelectListItem {},
                                    new SelectListItem {Text = "Mobile Number", Value = "number"},
                                    new SelectListItem {Text = "Email Address", Value = "email"},
                                    new SelectListItem {Text = "Customer Name", Value = "name"},
                                })*@
                            </td>
                        }
                    </tr>
                </table>
                <label for="firstRowIsHeader">My first row is a header</label><input type="checkbox" id="firstRowIsHeader" name="firstRowIsHeader"/>
            <input type="submit"/>
            }
        </div>
    </body>
</html>