@model SmsWeb.Models.DefaultEmailModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_BootstrapLayout.basic.cshtml";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Default Email Recipients</legend>

        <div>
            @Html.LabelFor(model => model.DefaultEmails, "Email Addresses")
            @Html.TextAreaFor(model => model.DefaultEmails, new { Class = "span7", Rows = 6})
            @Html.ValidationMessageFor(model => model.DefaultEmails)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
