@model SmsWeb.Models.CoordinatedSharedMessageModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@section Scripts {*@
    @Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/themes/base/jquery-ui.css")
@*<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />*@
@*@Scripts.Render("~/bundles/jqueryval")*@
@*}*@
<script type="text/javascript" src="~/Scripts/jquery-ui-timepicker-addon.js" ></script>
@Styles.Render("~/Content/timepicker.css")
<script type="text/javascript">
    function ShowSendAll() {
        $('#SendAllByDiv').show();
        $('#TimeSeparatedDiv').hide();
        $('#TimeSeparator').val('');
    }
    
    function ShowTimeSeparated() {
        $('#TimeSeparatedDiv').show();
        $('#SendAllByDiv').hide();
        $('#SendAllBy').val('');
    }
    
    function CheckSendAll() {
        if ($('#SendAllBy').val().length == 0) {
            $('#SendAllByDiv').hide();
        }
    }
    
    function CheckTimeSeparated() {
        if ($('#TimeSeparator').val().length == 0) {
            $('#TimeSeparatedDiv').hide();
        }
    }
    
    $(document).ready(function () {

        //$('#tag').bind('change, blur', function() {
        //    addToNumberList($('#tag').val());
        //    $('#tag').val("");
        //});

        $('input[name="StartTime"]').datetimepicker({dateFormat: 'dd/mm/yy'});
        $('input[name="SendAllBy"]').datetimepicker({dateFormat: 'dd/mm/yy'});

        $('#TimeSeparatedButton').bind('click', function() {
            ShowTimeSeparated();
        });

        $('#SendAllByButton').bind('click', function() {
            ShowSendAll();
        });

        CheckSendAll();
        CheckTimeSeparated();
        
    });
    
    

    //$(document).ready(function () {
    //    $('#tag').keypress(function () {
    //        var inputValue = $('#tag').val();
    //        if (inputValue.lastIndexOf(',') != -1) {
    //            var splitInput = inputValue.split(",");
    //            for(var i = 0; i < splitInput.length - 1; i++) {
    //                addToNumberList(splitInput[i]);
    //            }
    //            $('#tag').val(splitInput[splitInput.length]);
    //        }
    //    });
    //});

    function addToNumberList(number) {
        if ($('li:contains("' + number + '")').length == 0) {
            var input = '<input type="hidden" style="display:none;" value="' + number + '" name="Tags">';
            $('#tags').append("<li>" + number + input + "</li>");
        }
    }
</script>

<h2>Create</h2>


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Content</legend>
        <div>
            @Html.LabelFor(model => model.Message)
            @Html.TextAreaFor(model => model.Message)
            @Html.ValidationMessageFor(model => model.Message)
        </div>

        <div>
            @Html.LabelFor(model => model.Numbers)
            @Html.TextArea("numberList")
            @Html.ValidationMessageFor(model => model.Numbers)
        </div>
    </fieldset>
    
    <fieldset>
        <legend>Scheduling</legend>
        
        <div>
            @Html.LabelFor(model => model.StartTime)
            @Html.EditorFor(model => model.StartTime)
            @Html.ValidationMessageFor(model => model.StartTime)
        </div>
        
        <div>
            <span>Select how you want to coordinate the timing:</span>
            <input type="button" value="Time Separated" id="TimeSeparatedButton" />
            <input type="button" value="Send All By Time" id="SendAllByButton" />
            <div id="TimeSeparatedDiv">
                @Html.LabelFor(model => model.TimeSeparator, "Time Separated")
                @Html.EditorFor(model => model.TimeSeparator)
                @Html.ValidationMessageFor(model => model.TimeSeparator)
            </div>
            <div id="SendAllByDiv">
                @Html.LabelFor(model => model.SendAllBy, "Send All By Time")
                @Html.EditorFor(model => model.SendAllBy)
                @Html.ValidationMessageFor(model => model.SendAllBy)
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Meta</legend>
        
        <div>
            <div>
                @Html.LabelFor(model => model.Topic)
                @Html.EditorFor(model => model.Topic)
                @Html.ValidationMessageFor(model => model.Topic)
            </div>
        
            <div>
                @Html.Label("Tags")
                <input name="tag" id="tag"/>
            </div>
        
            <ul id="tags">
                @if(Model!= null && Model.Tags.Count > 0)
                {
                    foreach(var tag in Model.Tags)
                    {
                        <li>@tag<input type="hidden" style="display:none;" value="@tag" name="Tags"></li>
                    }
                }
            </ul>
        </div>
    </fieldset>
    <p>
        <input type="submit" value="Create" />
    </p>
}



