@model SmsWeb.Models.CoordinatedSharedMessageModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@section Scripts {*@
    @Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/themes/base/jquery-ui.css")
@*<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />*@
@*@Scripts.Render("~/bundles/jqueryval")*@
@*}*@

<script type="text/javascript">
    $(document).ready(function () {

        $('#tag').bind('change, blur', function() {
            addToNumberList($('#tag').val());
            $('#tag').val("");
        });

        $('input[name="coordinationStrategy"]').bind('click', function() {
            if ($('input[name="coordinationStrategy"]:checked').val() == 'timeSeparated') {
                $('#timeSeparated').show();
                $('#sendAllBy').hide();
                $('#sendAllBy input').val('');
            } else {
                $('#sendAllBy').show();
                $('#timeSeparated').hide();
                $('#timeSeparated input').val('');
            }
        });
        
        $("#messageSeparator").accordion({
            collapsible: true, icons: null
        });
        
    });
    
    

    $(document).ready(function () {
        $('#tag').keypress(function () {
            var inputValue = $('#tag').val();
            if (inputValue.lastIndexOf(',') != -1) {
                var splitInput = inputValue.split(",");
                for(var i = 0; i < splitInput.length - 1; i++) {
                    addToNumberList(splitInput[i]);
                }
                $('#tag').val(splitInput[splitInput.length]);
            }
        });
    });

    function addToNumberList(number) {
        if ($('li:contains("' + number + '")').length == 0) {
            var input = '<input type="hidden" style="display:none;" value="' + number + '" name="Tags">';
            $('#tags').append("<li>" + number + input + "</li>");
        }
    }
</script>

<h2>Create</h2>


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CoordinatedSharedMessageModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Message)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Message)
            @Html.ValidationMessageFor(model => model.Message)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartTime)
            @Html.ValidationMessageFor(model => model.StartTime)
        </div>
        
        <div>
            <h3>Select how you want to coordinate the timing:</h3>
            <div id="messageSeparator">
                <h3>Time Separated</h3>
                <div>
                        @Html.EditorFor(model => model.TimeSeparator)
                        @Html.ValidationMessageFor(model => model.TimeSeparator)
                </div>
                <h3>Send All By Set Time</h3>
                <div>
                        @Html.EditorFor(model => model.SendAllBy, "blah")
                        @Html.ValidationMessageFor(model => model.SendAllBy)
                </div>
            </div>

        </div>

        

        <div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Topic)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Topic)
                @Html.ValidationMessageFor(model => model.Topic)
            </div>
        
            <div class="editor-label">
                @Html.Label("Tags")
            </div>
            
            <div class="editor-field">
                <input name="tag" id="tag"/>
            </div>
        
            <ul id="tags">
                @if(Model!= null && Model.Tags.Count > 0)
                {
                    foreach(var tag in Model.Tags)
                    {
                        <li>@tag<input type="hidden" style="display:none;" value="@tag" name="Tags"></li>
                    }
                }
            </ul>
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}



